<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Christmas Movie Guessing Game</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <!-- Add snowflakes -->
    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
      <div class="snowflake">❅</div>
      <div class="snowflake">❆</div>
    </div>
    <h1>Christmas Movie Guessing Game</h1>

    <div id="intro-container">
      <p>
        This is a game to check if you can tell a real Christmas movie plot from
        a fake one. Pick the description that you think is a real Christmas
        movie!
      </p>
      <p>
        Each game has 4 rounds with randomly selected films. Keep playing to
        find them all!
      </p>
      <button id="start-game">Start Game</button>
    </div>

    <div id="game-container" style="display: none">
      <div class="game-grid">
        <div class="poster-column">
          <img
            id="placeholder"
            src="{{ url_for('static', filename='posters/question_mark.png') }}"
            alt="Placeholder"
          />
          <img id="poster" src="" alt="" style="display: none" />
        </div>
        <div class="content-column">
          <h2>Round <span id="round-number"></span>/4</h2>
          <p id="result" class="bold-feedback"></p>
          <h3>Which movie description is real?</h3>
          <p id="desc1"></p>
          <p id="desc2"></p>
          <button id="answer1">Description 1</button>
          <button id="answer2">Description 2</button>
          <p id="score"></p>
          <button id="next-round">Next Round</button>
        </div>
      </div>
    </div>
  </body>
</html>
